<form [formGroup]="form" class="form__container">
  <div class="form__header">
    <button
      (click)="submit()"
      class="form__action-btn"
      [class.form__action-btn--cancel]="isSubmitting"
    >
      {{ isSubmitting ? "Cancel" : "Submit all forms" }}
    </button>
    <span *ngIf="isSubmitting">0:0{{ timer }}</span>
    <span *ngIf="invalidFormCount$ | async as count" class="form__counter">
      Invalid forms: {{ count }}</span
    >
  </div>
  <div class="form__content">
    <tt-form-list
      [formId]="form"
      [list]="formArr"
      (removeForm)="removeForm($event)"
    ></tt-form-list>
    <button (click)="addForm()" class="form__add-btn"></button>
  </div>
</form>
